<footer class="footer">
  <div class="container">

    <div class="logo">
      <span class="logo__text _medium">iloveKevin</span>
    </div>

    <div class="contacts footer__contacts">
      <div class="contacts__item">
        <a href="tel:88005003190" class="contacts__link _tel">8 800 500-31-90</a>
        <span class="contacts__text">Звонки по России</span>
      </div>
      <div class="contacts__item">
        <a href="tel:+78123184054" class="contacts__link _tel">+7 812 318-40-54</a>
        <span class="contacts__text">Санкт-Петербург</span>
      </div>
      <div class="contacts__item">
        <a href="tel:+74992702790" class="contacts__link _tel">+7 499 270-27-90</a>
        <span class="contacts__text">Москва</span>
      </div>
      <div class="contacts__item">
        <a href="mailto:milo@elama.ru" class="contacts__link link _underlined">milo@elama.ru</a>
      </div>
    </div>

    <div class="share footer__share">
      <a href="#" class="share__link _vk">Вконтакте</a>
      <a href="#" class="share__link _fb">Facebook</a>
      <span class="share__text">Расскажите друзьям</span>
    </div>

    <div class="policy footer__policy">
      <a href="#" class="policy__link link _underlined">Политика конфиденциальности</a>
    </div>

  </div>
</footer>