.hero
  background-color: #D8D8D8
  padding: 68px 0 85px
  &__descr
    text-align: center
  &__title
    margin-bottom: 30px
    color: $color-accent
    font: 32px/30px $second-font

  &__text
    color: #525252
    line-height: 1.5
