.registration
  padding: 30px 0 50px
  text-align: center
  +mq("mq768")
    padding: 25px 0 50px

  +mq("mq992")
    padding: 35px 0 120px

  &__title
    margin-bottom: 25px
    font-size: 24px
    line-height: 30px
    color: $color-accent
    +mq("mq768")
      font-size: 30px
      line-height: 35px
    +mq("mq992")
      margin-bottom: 30px
      font-size: 36px
      line-height: 42px

  &__info
    margin-bottom: 30px
    line-height: 24px
    color: #002543
    +mq("mq768")
      margin-bottom: 40px
    +mq("mq992")
      max-width: 840px
      margin: 0 auto 45px

.reg-form
  display: flex
  flex-wrap: wrap
  flex-direction: column
  max-width: 300px
  margin: 0 auto
  +mq("mq992")
    max-width: 940px
    flex-direction: row
    justify-content: space-between

  &__row
    margin-bottom: 10px
    +mq("mq992")
      margin-bottom: 20px

    &:last-child
      margin-bottom: 0
      +mq("mq992")
        margin: auto

    &._checkbox
      margin-top: 25px
      margin-bottom: 17px
      +mq("mq768")
        margin-top: 15px
        margin-bottom: 27px
      +mq("mq992")
        width: 100%
        margin-bottom: 30px
        text-align: center

  &__input
    width: 100%
    padding: 15px 20px
    line-height: 1.2
    font-size: 15px
    color: $color-accent
    background: #F4F5F9
    border: 1px solid rgba(0, 0, 0, 0.1)
    border-radius: 5px
    outline: none

    +mq("mq992")
      width: 300px

    +placeholder
      color: rgba(0, 37, 67, 0.5)

  &__checkbox
    position: absolute
    opacity: 0

    & + label
      position: relative
      display: block
      width: 100%
      padding-left: 35px
      line-height: 1.28
      font-size: 14px
      color: #525252
      text-align: left
      cursor: pointer
      +mq("mq992")
        display: inline-block
        width: auto

    & + label:before
      content: ''
      position: absolute
      left: 0
      top: -5px
      width: 24px
      height: 24px
      background: #F4F5F9
      border: 1px solid rgba(0, 0, 0, 0.1)
      box-sizing: border-box
      border-radius: 5px

    &:checked + label:before
      background: #F4F5F9 url("../img/tick.svg") 50% 50% no-repeat

  &__btn
    width: 100%
    background-color: $color-second
    +mq("mq768")
      width: 300px

    &:disabled
      background-color: rgba($color-second,.5)